#-----------------------------------
#   FSD Utils
#-----------------------------------
funding-service-design-utils>=5.0.8,<6.0.0

requests==2.32.3
slugify
python-dateutil
invoke>=2.2.0
colored
pandas
openpyxl

#-----------------------------------
#   Flask Version
#-----------------------------------
Flask==3.0.3
flask_apscheduler==1.13.1
flask_restx
apscheduler

#-----------------------------------
#   Database
#-----------------------------------
SQLAlchemy>=2.0.31
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
sqlalchemy-utils>=0.41.2
sqlalchemy_json==0.7.0
psycopg2-binary==2.9.9
marshmallow-sqlalchemy==1.0.0
uvicorn==0.30.3

#-----------------------------------
#   Connexion APIs
#-----------------------------------
connexion[flask,swagger-ui,uvicorn]
swagger-ui-bundle==1.1.0
openapi-spec-validator
prance==23.6.21.0
jsonpath-rw-ext==1.2.2
