connexion
flask_restx
funding-service-design-utils==1.0.1
openapi-spec-validator
prance
requests
swagger-ui-bundle
slugify
python-dateutil
invoke
colored

#-----------------------------------
#   Database
#-----------------------------------
SQLAlchemy
Flask-SQLAlchemy
Flask-Migrate
sqlalchemy-utils
sqlalchemy_json
psycopg2-binary
