  name: Manual Dev Deploy
  on:
    workflow_dispatch:
  jobs:
    deploy_dev:
      runs-on: ubuntu-latest
      concurrency: deploy_dev_${{github.repository}}
      environment: Dev
      env:
        FLASK_ENV: dev
      steps:
        - name: checkout code
          uses: actions/checkout@v3
        - name: Set up Python
          uses: actions/setup-python@v4
          with:
            python-version: 3.10.x
        - name: create python env
          run: python -m venv .venv
        - name: install dependencies
          run: source .venv/bin/activate && python -m pip install --upgrade pip && pip install -r requirements.txt
        - name: download previous build
          uses: actions/download-artifact@v2
        - name: Deploy to Gov PaaS
          uses: citizen-of-planet-earth/cf-cli-action@v2
          with:
            cf_api:      ${{secrets.CF_API}}
            cf_org:      ${{secrets.CF_ORG}}
            cf_space:    ${{secrets.CF_SPACE }}
            cf_username: ${{secrets.CF_USERNAME}}
            cf_password: ${{secrets.CF_PASSWORD}}
            command: push funding-service-design-application-store-dev --var GITHUB_SHA="${{ github.sha }}"
        - name: Apply network policy for notification service
          uses: citizen-of-planet-earth/cf-cli-action@v2
          with:
            cf_api:      ${{secrets.CF_API}}
            cf_org:      ${{secrets.CF_ORG}}
            cf_space:    ${{secrets.CF_SPACE }}
            cf_username: ${{secrets.CF_USERNAME}}
            cf_password: ${{secrets.CF_PASSWORD}}
            command: add-network-policy funding-service-design-application-store-dev funding-service-design-notification-dev --protocol tcp --port 8080

    run-shared-tests_dev:
      needs: deploy_dev
      concurrency: run-shared-tests_dev
      uses: communitiesuk/funding-design-service-workflows/.github/workflows/run-shared-tests.yml@main
      with:
        perf_test_target_url_application_store: https://funding-service-design-application-store-dev.london.cloudapps.digital
        perf_test_target_url_fund_store: https://funding-service-design-fund-store-dev.london.cloudapps.digital
        perf_test_target_url_assessment_store: https://funding-service-design-assessment-store-dev.london.cloudapps.digital
        e2e_tests_target_url_frontend: https://fsd:fsd@frontend.dev.gids.dev
        e2e_tests_target_url_authenticator: https://fsd:fsd@authenticator2.dev.gids.dev
        e2e_tests_target_url_form_runner: https://fsd:fsd@forms.dev.gids.dev
        e2e_tests_target_url_assessment: https://fsd:fsd@assessment.dev.gids.dev
        run_performance_tests: true
        run_e2e_tests: false
      secrets:
        E2E_PAT: ${{secrets.E2E_PAT}}
